<title>
    <%- title %>
</title>
<script src="./content/adicional/home.js"></script>

<div class="text-center bodyImage1">
    <div id="menuLateral"></div>
    <div id="modal" class="modal">
        <div style="text-align: center;">
            <h2>Carregando</h2>
        </div>
        <div class="loader">
            <img src="./content/images/loading.gif" alt="">
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <div id="bodyContent" class="jumbotron">
                    <h1 class="display-5">RPG REPUBLIC</h1>
                    <br />
                    <div class="row">
                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-3">
                            <div class="row">
                                <img src="./content/images/Logo_Entrar.gif" width="500px">
                                <br /><br />
                            </div>
                            <div class="row">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 align-items">
                                    <button style="width: 50%;" id="btnCriarSala" class="btn btn-primary"
                                        data-bs-toggle="modal" data-bs-target="#mdlCriarSala">
                                        Criar Sala
                                    </button>

                                </div>
                            </div>
                        </div>
                        <div class="col-xl-8 col-lg-8 col-md-8 col-sm-9  ">
                            <div class="row justify-content-between">
                                <div class="col-xl-2 col-lg-3 col-md-3 col-sm-3  ">
                                    <h2>Salas</h2>
                                </div>
                                <div class="col-xl-7 col-lg-7 col-md-9 col-sm-12  ">
                                    <input class="form-control" id="PesquisarSala" type="text" autocomplete="off"
                                        placeholder="🔎 Busque as salas pelo nome ou usuario Mestre...">

                                </div>
                            </div>
                            <br>
                            <div class="table-responsive">
                                <table id="tblSalas" class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th>Sala</th>
                                            <th>Mestre</th>
                                            <th>Privada</th>
                                        </tr>
                                    </thead>
                                    <tbody id="myTable" class="trSelect">
                                        <% listaSalas.map(function(sala){ %>                                           
                                            <tr
                                                onclick="home.entrarSala(<%- sala.idSala %>,'<%- sala.descricao %>','<%- sala.senha %>')">
                                                <td>                                                    
                                                    <%- sala.descricao %>
                                                </td>
                                                <td>
                                                    <%- sala.usuarioMestre.login%>
                                                </td>
                                                <td>
                                                    <%- sala.senha==null ? "" : "🔒" %>
                                                </td>
                                            </tr>
                                            <% })%>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="mdlCriarSala" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Criar Sala</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                        <input type="text" id="txtSalaNome" class="form-control " placeholder="Nome da Sala">
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                        <input type="text" id="txtSalaSenha" class="form-control " placeholder="Senha">
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" onclick="home.criarSala();" class="btn btn-primary">Criar</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="mdlEntrarSala" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Entrar Sala</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                        <input type="text" id="txtEntrarSalaNome" class="form-control" readonly="true"
                            placeholder="Nome da Sala">
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                        <input type="password" id="txtEntrarSalaSenha" class="form-control " placeholder="Senha">
                    </div>
                    <input type="hidden" id="hdfEntrarSalaSenha" class="form-control ">
                    <input type="hidden" id="hdfEntrarSalaId" class="form-control ">
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" onclick="home.validaEntrarSala();" class="btn btn-primary">Entrar</button>
            </div>
        </div>
    </div>
</div>